<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>


<body>   
    <div class="page-home ">
        <div class="home-box homeInfo hb1">
            <p>Latest Action:</p>
        </div>
        <div class="home-box homeInfo hb2">
            <p>Total Spending</p>
        </div>
        <div class="home-box homeInfo hb3">
            <p>Spending in categories</p>
        </div>
    </div> 
    <%- include('./partials/footer.ejs')%>
</body>
</html>